/*
    Following color pallete:-
    ef8354
    ffffff
    bfc0c0
    4f5d75
    2d3142
*/
h1{
    color: blue;
}

.wrapper{
    text-align: center;
}
.container{
    display: inline-block;
    background-color: #4f5d75;
    padding: 10px;
    border-radius: 25px;
}

input{
    width: 310px;
    height: 38px;
    margin: 6px;
    font-size: 30px;
    text-align: right;
    border: 3px solid black;
    border-radius: 25px;
    background-color: #2d3142;
    color: #ffffff;
}

table{
    margin: auto;
}

table button{
    background: #ef8354;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 39px;
    width: 70px;
    height: 75px;
    margin: 4px;
    color: #2d3142;
}

#clear{
    background-color: #ffffff;
}
#equals{
    background-color: #bfc0c0;
}
#del{
    font-size: 25px;
    background-color: black;
}

.operators{
    color: #ffffff;
    
}