h1{
    color: red;
}

.wrapper{
    text-align: center;
}

input{
    width: 300px;
    height: 35px;
    font-size: 30px;
    border: 3px solid black;
}

table{
    margin: auto;
}

table button{
    border: 3px solid black;
    border-radius: 40px;    
    font-size: 39px;
    width: 70px;
    height: 75px;
    margin: 4px;
}