h1{
    color: red;
}

.wrapper{
    text-align: center;
}
.container{
    display: inline-block;
    background-color: #4f5d75;
    padding: 10px;
    border-radius: 25px;
}

input{
    width: 300px;
    height: 35px;
    font-size: 30px;
    border: 3px solid black;
}

table{
    margin: auto;
}

table button{
    background: #ef8354;
    border: 3px solid black;
    border-radius: 40px;
    font-size: 39px;
    width: 70px;
    height: 75px;
    margin: 4px;
    color: #2d3142;
}

#clear{
    background-color: #ffffff;
}
#equals{
    background-color: #bfc0c0;
}

.operators{
    color: #ffffff;
    
}